
#add-button{
  background:#588AFF;
}

.add-button-text{
  font-size: 1.3em;
}

.less-padding2{
  padding-bottom: 0.7em !important;
}
.bold1 {
  color: red;
  border: 3px solid red;
}
.relaxed1 {
  color: #31DDDC; /* For browsers that do not support gradients */
  border: 3px solid #31DDDC;
}
.positive1 {
  color: #E1CF66; /* For browsers that do not support gradients */
  border: 3px solid #E1CF66;
}
.inquisitive1 {
  color: #639EFF; /* For browsers that do not support gradients */
  border: 3px solid #639EFF;
}

.loving1 {
  color: #3ECBCB; /* For browsers that do not support gradients */
  border: 3px solid #3ECBCB;
}
.grateful1 {
  color: #6DBF7A; /* For browsers that do not support gradients */
  border: 3px solid #6DBF7A;
}
.yourself1 {
  color: #F1808B; /* For browsers that do not support gradients */
  border: 3px solid #F1808B;
}
.kind1 {
  color: red; /* For browsers that do not support gradients */
  border: 3px solid red;
}
