.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5em;
}

.main-content{
  margin-top: 5em;
}

.circle-margin {
  padding: 0.75em;
}

.exp-button {
  padding-top: 1em;
}

.topnav {
  margin-bottom: 2.5em;
}

#bold {
  background: red; /* For browsers that do not support gradients */
  background: linear-gradient( red, #F1808B); /* Standard syntax */

}

#relaxed {
  background: #31DDDC; /* For browsers that do not support gradients */
  background: linear-gradient( #95D7F4, #31DDDC); /* Standard syntax */
}

#positive {
  background: #E1CF66; /* For browsers that do not support gradients */
  background: linear-gradient( #E1CF66, #F3A24A); /* Standard syntax */
}

#inquisitive {
  background: #639EFF; /* For browsers that do not support gradients */
  background: linear-gradient( #639EFF, #6899FC); /* Standard syntax */
}

#loving {
  background: #3ECBCB; /* For browsers that do not support gradients */
  background: linear-gradient( #3ECBCB, #30A0AF); /* Standard syntax */
}

#grateful {
  background: #6DBF7A; /* For browsers that do not support gradients */
  background: linear-gradient( #6DBF7A, #50A344); /* Standard syntax */
}

#yourself {
  background: #F1808B; /* For browsers that do not support gradients */
  background: linear-gradient( #F1808B, #F1808B); /* Standard syntax */
}

#kind {
  background: red; /* For browsers that do not support gradients */
  background: linear-gradient( red, #F1808B); /* Standard syntax */
}
