
/*.chip {
  background: #6DBF7A;
}*/

.text-center {
  text-align: center;
}

.select-wrapper input.select-dropdown {
  border: 0.1em solid #5E9BFF;
  border-radius: 2em;
  border-right-width: 3em;
  width: 80%;
  text-align: center;
  margin: 0;
}

.dropDown label {
  display: none
}

.margin-top {
  margin-top: 1em;
}

.big-margin-top {
  margin-top: 5em;
}

.margin {
  margin: 1em 2.5em;
}

.select-wrapper span.caret {
  left: 85%;
  z-index: 1000;
  color: white;
}

.inputEmail {
   /*border: 0.1em solid #5E9BFF;
  border-radius: 2em;
  border-right-width: 3em;
  width: 80%;
  text-align: center;
  margin: 0;*/
}

.col input field {
  
}