/* Within the components, any pages that render a Navbar will have a padding!*/

.content {
  padding-top: 2.5em;
}

.spacer {
  padding-bottom: 1.5em;
}

.text-center {
  text-align: center;
}

.nav-bar {
  display: flex;
  height: 2.5em;
  flex-wrap: nowrap;
  justify-content: inherit;
  align-items: inherit;
}

.modal {
  box-shadow: none;
  top: 20% !important;
}

.modal-footer {
  display: none;
}

/* React modal */
.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.modalContent {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  width: 80%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: 0;
  position: absolute;
  background: #fff;
  padding: 1rem;
}

.modalOverlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  opacity: 0;
}

.modalOverlay,
.modalOverlay > div {
  transition: opacity 300ms ease-in-out;
}

@media (min-width: 768px) {
  .modalContent {
    max-width: 768px;
  }
}
